@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    div[data-mode="simple"] {
        background: url(../imgs/triangle.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    div[data-mode="simple"]>ul {
        display: grid;
        column-gap: 80px;
        row-gap: 24px;
        grid-template-columns: auto auto;
    }

    div[data-mode="simple"]>ul>li:nth-child(4) {
        display: none;
    }

    div[data-mode="simple"]>ul>li:nth-child(5) {
        display: none;
    }

    div[data-mode="simple"]>ul>li:nth-child(3) {
        grid-column: 1/3;
        place-self: center;
    }

    div[data-mode="advenced"] {
        background-image: url(../imgs/Polygon.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    div[data-mode="advenced"] img {
        @apply w-[145px] h-[148px]
    }

    div[data-mode="advenced"]>ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 24px;
    }

    div[data-mode="advenced"]>ul>li:nth-child(1) {
        grid-column: 1/3;
        place-self: center;
        @apply mb-[-30px]
    }

    div[data-mode="advenced"]>ul>li:nth-child(4) {
        grid-column: 1/2;
        place-self: end;
    }

    div[data-mode="advenced"]>ul>li:nth-child(5) {
        grid-column: 2/3;
        place-self: start;
    }
}